<%= render 'spree/shared/error_messages', target: @review %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :state %>
  <%= f.text_field :state, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :review %>
  <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 60, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :approved %>
  <%= f.check_box :approved, class: 'form-control' %>
  <%= f.label :featured %>
  <%= f.check_box :featured, class: 'form-control' %>
</div>

<% unless @review.review_images.any? %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ReviewImage)) %>.
  </div>
<% else %>
  <table class="table" data-hook="images_table">
    <thead>
      <tr data-hook="images_header">
        <th colspan="2">
          <%= Spree.t(:thumbnail) %>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% (@review.review_images).each do |image| %>
        <tr id="<%= spree_dom_id image %>" data-hook="images_row">
          <td class="image">
            <%= link_to image_tag(main_app.url_for(image.attachment.url(:thumb))), main_app.url_for(image.attachment.url) %>
          </td>
          <td class="actions actions-2 text-right">
            <%= link_to_delete(image, { url: spree.admin_review_review_image_url(@review, image), no_text: true }) if can? :destroy, image %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if Spree::Reviews::Config[:track_locale] %>
  <div class="form-group">
    <%= f.label :locale %>
    <%= f.select :locale, I18n.available_locales.map { |lc| [t(lc, default: lc.to_s), lc.to_s] }, {}, class: 'select2' %>
  </div>
<% end %>
